@font-face {
    font-family: 'Futura';
    src: url('Futura-Bold.eot');
    src: url('Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('Futura-Bold.woff2') format('woff2'),
        url('Futura-Bold.woff') format('woff'),
        url('Futura-Bold.ttf') format('truetype'),
        url('Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aesthetik Script';
    src: url('AesthetikScript.eot');
    src: url('AesthetikScript.eot?#iefix') format('embedded-opentype'),
        url('AesthetikScript.woff2') format('woff2'),
        url('AesthetikScript.woff') format('woff'),
        url('AesthetikScript.ttf') format('truetype'),
        url('AesthetikScript.svg#AesthetikScript') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedMedium.eot');
    src: url('Futura-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('Futura-CondensedMedium.woff2') format('woff2'),
        url('Futura-CondensedMedium.woff') format('woff'),
        url('Futura-CondensedMedium.ttf') format('truetype'),
        url('Futura-CondensedMedium.svg#Futura-CondensedMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.eot');
    src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff'),
        url('Gotham-Medium.ttf') format('truetype'),
        url('Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedExtraBold.eot');
    src: url('Futura-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Futura-CondensedExtraBold.woff2') format('woff2'),
        url('Futura-CondensedExtraBold.woff') format('woff'),
        url('Futura-CondensedExtraBold.ttf') format('truetype'),
        url('Futura-CondensedExtraBold.svg#Futura-CondensedExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-MediumItalic.eot');
    src: url('Futura-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Futura-MediumItalic.woff2') format('woff2'),
        url('Futura-MediumItalic.woff') format('woff'),
        url('Futura-MediumItalic.ttf') format('truetype'),
        url('Futura-MediumItalic.svg#Futura-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-Medium.eot');
    src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('Futura-Medium.woff2') format('woff2'),
        url('Futura-Medium.woff') format('woff'),
        url('Futura-Medium.ttf') format('truetype'),
        url('Futura-Medium.svg#Futura-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype'),
        url('Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

